* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #fff;
    --main-black-color: #333;
    --main-color: #227bba;
    --border-radius: 5px;
    --font-size: 14px;
}

body {
    color: var(--main-black-color);
    font-size: var(--font-size);
    font-family: "Roboto", "Helvetica Neue", Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.map {
    position: absolute;
    left: 25%;
    width: 75%;
    top: 0;
    bottom: 0;
}
.sidebar {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
}

.sidebar .audio {
    display: inline-block;
    height: 40px;
    width: 100%;
    margin: auto;
}

.audio:focus {
    outline: none;
}

.sidebar .heading {
    color: var(--main-black-color);
    padding: 20px;
}

.sidebar .heading .tag {
    font-size: 10px;
    margin-top: 30px;
    color: var(--main-color);
}

.sidebar .heading .tag span {
    font-size: 10px;
    margin-top: 30px;
    color: var(--main-black-color);
}

h1 {
    font-size: 30px;
    margin-top: 10px;
    font-weight: 600;
    line-height: 24px;
    color: var(--main-black-color);
}

#fly {
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    border: none;
    font-size: 10px;
    text-align: left;
    font-weight: bold;
    color: #fff;
    border-radius: 100px;
    background: var(--main-color);
    margin: 25px;
    text-transform: uppercase;
    z-index: 100;
}

#fly:hover {
    opacity: 0.7;
}

#fly:focus {
    outline: 0 !important;
}

a {
    color: var(--main-black-color);
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
}

.listings {
    height: 100%;
}

.listings .item {
    padding: 20px;
    margin: 20px 0;
}

.listings .item div {
    display: flex;
    flex-direction: column;
}

.listings .item div img {
    display: inline-block;
    width: auto !important;
    height: 120px !important;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.listings .item .title {
    display: block;
    color: var(--main-black-color);
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 20px;
}

.listings .item:last-child {
    padding-bottom: 100px;
}

.listings .item .title small {
    font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
    color: var(--main-color);
}

.listings .item.active {
    background-color: var(--main-bg-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.listings .item:hover {
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: none;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 150px;
}

.marker {
    border-radius: 3px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
}

/* Marker tweaks */

.mapboxgl-popup {
    padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    background-color: #000;
    padding: 0;
    width: 300px;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.mapboxgl-popup-content-wrapper {
    padding: 0;
}

.mapboxgl-popup-content h3 {
    color: #fff;
    padding: 15px;
    font-size: var(--font-size);
    font-weight: 500;
    line-height: normal;
    background-color: transparent !important;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-shadow: 0px 1px 5apx #000;
}

.mapboxgl-popup-content img {
    opacity: 0.8;
    margin: 0;
    width: 300px;
    object-fit: cover;
    padding: 0;
    margin-bottom: -6px;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}

.mapboxgl-popup-anchor-botton {
    width: 300px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 0px;
}

.mapboxgl-popup-tip {
    display: none;
}

@media (max-width: 1300px) {
    .sidebar {
        width: 30%;
    }
    .map {
        width: 70%;
        left: 30%;
    }
}

@media (max-width: 960px) {
    .sidebar {
        width: 45%;
    }
    .map {
        width: 55%;
        left: 45%;
    }
}

@media (max-width: 600px) {
    .map {
        width: 100%;
        left: 0;
        top: 0;
    }
    .sidebar {
        display: none;
    }
}
